*.txt   # ignore *.txt in the target directory
*/*.txt # ignore *.txt in subdirectories of the target directory
        # but not in subdirectories of subdirectories;
        # so a/b/c.txt would *not* be ignored
**/*.txt

backups/   # ignore backups folder in chezmoi directory and all its contents
backups/** # ignore all contents of backups folder in chezmoi directory
           # but not backups folder itself
.password_manager.sh

# Github CLI
dot_config/gh/hosts.yml
# ZShell
dot_config/zsh/dot_zcompdump
# CLAUDE CONFIG
!dot_config/claude/CLAUDE.md
#dot_config/claude/
# SyncThing
dot_local/state/syncthing
